nav
    ul
        li
            if current=='Home'
                a(href='index.html',class="selected") Home
            else
                a(href='index.html') Home
        li 
            if current=='Sub'
                a(href='subpage.html',class="selected") Sub Page
            else
                a(href='subpage.html') Sub Page